@model EventViewModel

@{ ViewData["Title"] = string.Format(PageTitlesResource.StringFormat, PageTitlesResource.EventIndex, PageTitlesResource.SiteName); }


<div class="container">
    <div class="left-event-side">
        <div class="form__content">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name"></label>
                <h1 asp-for="Name">@Model.Name</h1>
            </div>
            <div>
                <label asp-for="Title"></label>
                <h2 asp-for="Title">@Model.Title</h2>
            </div>
            <div>
                <label asp-for="Info"></label>
                <p asp-for="Info">@Model.Info</p>
            </div>
            <div>
                <label asp-for="Started" for="started">Started</label>
                <time asp-for="Started">: @Model.Started.ToShortDateString()</time>
            </div>
            <div>
                <label asp-for="Format"></label>
                <span asp-for="Format">: @Model.Format</span>
            </div>
            <div>
                <label asp-for="PNumber"></label>
                <span asp-for="PNumber">: @Model.PNumber</span>
            </div>
            <div>
                <label asp-for="PFreeNumber"></label>
                <span asp-for="PNumber">: @Model.PFreeNumber</span>
            </div>
            <div>
                <label asp-for="AuthorName"></label>
                <span asp-for="AuthorName">: @Model.AuthorName</span>
            </div>
        </div>
    </div>
    <div class="right-event-side">
        @if (ViewBag.UserId == Model.UserId)
        {
<form class="create-form__event-buttons">
    <button formmethod="post" class="event-buttons__edit"
            asp-controller="Event"
            asp-action="EditEventIndex"
            asp-route-id="@Model.Id"
            asp-route-authorName="@Model.AuthorName">

        Edit Event
    </button>
    <button formmethod="post" class="event-buttons__delete"
            asp-controller="Event"
            asp-action="DeleteEvent"
            asp-route-id=@Model.Id
            asp-route-authorName=@Model.AuthorName>
        Delete Event
    </button>
</form>}
        <form class="create-form" method="post">
            <button class="create-form__addparticipant" asp-controller="Event" asp-action="AddParticipant" asp-route-eventId="@Model.Id">
                Participate
            </button>
            <button class="create-form__deleteparticipant" asp-controller="Event" asp-action="DeleteParticipant" asp-route-eventId="@Model.Id">
                Delete participant
            </button>
        </form>
        <div class="participants-list">
            <h2>Participant list</h2>
            <ul>
                @foreach (var participant in Model.EventParticipants)
                {
    <li>@participant</li>}
            </ul>
        </div>
    </div>
</div>
<div class="chat-container">
    <form class="chat-form">
        <textarea id="messageArea"></textarea>
        <button type="button" id="sendButton" userName="@User.Identity.Name" eventid="@Model.Id">Send button</button>
    </form>
    <div class="message-container">
            @foreach(var comment in Model.Comments)
            {
        <div class="user-message">
            <label class="user__authorName">@comment.AuthorName</label>
            <p class="user-message__text">@comment.MessageText</p>
            <button class="delete-button"><i class="fas fa-trash-alt"></i></button>
            <button class="edit-button"><i class="fas fa-edit"></i></button>
        </div>              
            }
    </div>
</div>


@if (ViewBag.UserId == Model.UserId)
{
@section css {
    <link href="~/css/eventMain.css" rel="stylesheet" asp-append-version="true" />
} }
else
{
@section css {
    <link href="~/css/eventMain.css" rel="stylesheet" asp-append-version="true" />
}}

@section js {
    <script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/eventChat.js" asp-append-version="true"></script>
}