@model IEnumerable<EventViewModel>

<head>
    <title>Home page</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="container">
        <div class="event-list">
            @foreach (var usersEvent in Model)
            {
            <div class="event-list__event">
                <h1>Title: @usersEvent.Title</h1>
                <h2>Name: @usersEvent.Name</h2>
                <p>Started: @usersEvent.Started</p>
                <p>Participants number: @usersEvent.PNumber</p>
                <p>Free places: @usersEvent.PFreeNumber</p>
            </div>}
        </div>
        <form method="get" class="event-buttons">
            <button class="event-buttons__create" asp-controller="Event" asp-action="CreateEvent">Create Event</button>
            <button class="event-buttons__edit" asp-controller="Event" asp-action="EditEvent">Edit Event</button>
            <button class="event-buttons__delete" asp-controller="Event" asp-action="DeleteEvent">Delete Event</button>
        </form>
    </div>
    }
    else
    {
<div class="event-list">
    @if (Model.Any())
    {
        @foreach (var usersEvent in Model)
        {
    <div class="event-list__event">
        <h1>@usersEvent.Title</h1>
        <h2>@usersEvent.Name</h2>
        <p>@usersEvent.Started</p>
        <p>@usersEvent.Closed</p>
        <p>@usersEvent.PFreeNumber</p>
    </div>
        }
    }
    else
    {
        <h1>Event list is empty</h1>
    }
</div>
    }
</body>

@section css{
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true"/>
}






