@model HomeViewModel

@{ ViewData["Title"] = string.Format(PageTitlesResource.StringFormat, PageTitlesResource.HomeIndex, PageTitlesResource.SiteName); }

<head>
    <title>Home page</title>
</head>
<body>
    <div class="homepage-left">
        <div class="homepage-events">
            <p>Home</p>
            <span>/</span>
            <p>Events</p>
        </div>
        <div class="homepage-eventowner">
            <p class="homepage-eventowner__allevents">Events</p>
        </div>
        <div class="homepage-quicksearch" >
            <button class="homepage-quicksearch__alleventsbutton">All events</button>
            @if (User.Identity.IsAuthenticated)
            {<button class="homepage-quicksearch__myeventsbutton">My events</button>}
        <form method="get" asp-controller="Home" asp-action="Index" class="homepage-quicksearch__filter">
            <label>Имя: </label>
            <input name="name" class="" />
            <select asp-items="Html.GetEnumSelectList<FilterOptions>()" asp-for="FilterViewModel.FilterOptions" class=""></select>

            <label>Компания: </label>
            <select asp-items="Html.GetEnumSelectList<EventFormats>()" asp-for="FilterViewModel.EventFormats" class=""></select>

            <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
        </form>
        </div>
        <div class="event-container">
            @if (Model.EventDtos.Any())
            {
<div class="event-list">
    @foreach (var usersEvent in Model.EventDtos)
    {
<div class="event-container-event">
    <div class="event-list__info">
        <span>Started: @usersEvent.Started.ToShortDateString()</span>
        <span>Created: @usersEvent.Created.ToShortDateString()</span>
        <span>Participants number: @usersEvent.PNumber</span>
        <span>Free places: @usersEvent.PFreeNumber</span>
    </div>
    <a class="event-list__name"
       asp-controller="Event"
       asp-action="Index"
       asp-route-id="@usersEvent.Id">@usersEvent.Name</a>
</div>          }
</div> }
else
{
<h1 id="empty">Event list is empty</h1>}
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
<div class="homepage-right">
    <form method="get" class="event-buttons">
        <button class="event-buttons__create"
                asp-controller="Event"
                asp-action="CreateEvent">
            <i class="far fa-plus-square"></i>
            <span>Create Event</span>
            <p>Describe your event and create it</p>
        </button>
    </form>
</div>}


</body>

@section css{
    <link href="~/css/Home.css" rel="stylesheet" asp-append-version="true" />
}

@section pageNavigation{
    <page-link  page-model="@Model.PageViewModel" page-action="Index"></page-link>
}
